<form class="add-movie-form" [formGroup]="addBookForm" (ngSubmit)="onSubmit()">
  <input type="url" placeholder="url" formControlName="image" />
    <div *ngIf="image?.invalid && image?.touched">
      <p *ngIf="image?.errors?.['required']">Fill the image url..</p>
    </div>
    <input type="text" placeholder="title" formControlName="title" />
  
    <div *ngIf="title?.invalid && title?.touched">
      <p *ngIf="title?.errors?.['required']">Fill this title?</p>
    </div>
    <input type="text" placeholder="author" formControlName="author" />
  
    <div *ngIf="author?.invalid && author?.touched">
      <p *ngIf="author?.errors?.['required']">Fill this author name?</p>
    </div>

    <input type="text" placeholder="category" formControlName="category" />
  
    <div *ngIf="category?.invalid && category?.touched">
      <p *ngIf="category?.errors?.['required']">Fill this category ?</p>
    </div>
  
    <input type="text" placeholder="publication_date" formControlName="publication_date" />
  
    <div *ngIf="publication_date?.invalid && publication_date?.touched">
      <p *ngIf="publication_date?.errors?.['required']">Fill this publication Date ?
      </p>
    </div>
    <input type="text" placeholder="Summary" formControlName="summary" />
  
    <div *ngIf="summary?.invalid && summary?.touched">
      <p *ngIf="summary?.errors?.['required']">Fill this summary .
      </p>
    </div>
  
    <input type="text" placeholder="status" formControlName="status" />
  
    <div *ngIf="status?.invalid && status?.touched">
      <p *ngIf="status?.errors?.['required']">
        Fill this trailer 😉?
      </p>
    </div>
  
    <button
      mat-raised-button
      color="primary"
      type="submit"
      [disabled]="addBookForm.invalid"
    >
      Add Book
    </button>
  </form>
  
  <!-- <p>{{ addMovieForm.status }}</p> -->
  <!-- <p>Errors</p>
  <p>Name: {{ addMovieForm.get("username")?.errors | json }}</p>
  <p>Age: {{ addMovieForm.get("age")?.errors | json }}</p> -->
  
  <!-- Sysn@f123 -->