
<div class="book-container">
    <div>
        <img class="book-poster" [src]="book.image" [alt]="book.title" />
        <!-- <p class="book-spec"> -->
            <h3>{{book.title}}📚</h3>    
            
        <!-- </p> -->
        <p><span style="text-transform:uppercase">Author : </span><i> {{book.author}}✍</i></p>
        <p><span style="text-transform:uppercase">Category : </span><i>{{book.category}}</i></p>
        <p><span style="text-transform:uppercase">Publication Date : </span><i>{{book.publication_date}}</i></p>
        <mat-icon (click)="toggleSummary()" color = "primary">expand_more</mat-icon>
        <p *ngIf="!show" class="movie-summary">{{ book.summary}}</p>
      
        
        <p><span style="text-transform:uppercase">Status of Reading : </span>{{book.status}}</p>
        
    </div>
    <div class="book-button">
        <mat-icon (click)="goToDetails(book.id)" class="icon" color = "primary">info</mat-icon>

   <mat-icon (click)="delBook(book.id)" class="icon" color = "warn">delete</mat-icon>
    <mat-icon (click)="editBook(book.id)" class="icon" color = "primary">edit</mat-icon>
    </div>
    

</div>