.book-container {
    /* background: orange; */
    width: 600px;
    border-radius: 16px;
    overflow: hidden;
    padding: 16px;
    background-color: black;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-family: sans-serif;
    margin: 20px;
  }
  
  