<section id="head">
  <marquee direction="left">
    <article>
      <p>"Books are a uniquely portable magic.📕"
        “A reader lives a thousand lives before he dies.📗”
        "The magic is only in what books say, how they stitched the patches of the universe together into one garment for us.📘"
      </p>
    </article>
  </marquee>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</section>
<div class="topnav" id="myTopnav">
  <a routerLink="/home" class="active">Home</a>
  <a routerLink="/books">Book_List</a>
  <a routerLink="/books_add">Add_Books</a>
  <a routerLink="/books_fav">Favourites</a>

  <a href="javascript:void(0);" class="icon" (click)="myFunction()">
    <i class="fa fa-bars"></i>
  </a>
</div>

<router-outlet></router-outlet>

