<div class="bg-img">
  <div class="form_">
    <form class="add-movie-form" [formGroup]="addBookForm" (ngSubmit)="onSubmit()"> 
      <div class="example-container">
        <mat-form-field [style.width.px]=350>
          <mat-label>Image url</mat-label>
          <input matInput placeholder="Url" formControlName="image">
          <mat-error *ngIf="image?.invalid && image?.touched "></mat-error>
          <mat-error *ngIf="image?.errors?.['required']">Url is required</mat-error>
        </mat-form-field>
      </div>

      <div class="example-container">
        <mat-form-field [style.width.px]=350>
          <mat-label>Title</mat-label>
          <input matInput placeholder="Title" formControlName="title">
          <mat-error *ngIf="title?.invalid && title?.touched "></mat-error>
          <mat-error *ngIf="title?.errors?.['required']">Title is required</mat-error>
        </mat-form-field>
      </div>

      <!-- <label for="Image Url">Image Url</label>
        <input type="url"  placeholder="Url" formControlName="image" />
        <div *ngIf="image?.invalid && image?.touched">
          <p> >Url is<strong>required</strong></p>
        </div> -->
      
        <!-- <label for="Title">Title</label>
      <input type="text" placeholder="Title" formControlName="title" />
    
      <div *ngIf="title?.invalid && title?.touched">
        <p *ngIf="title?.errors?.['required']">Title is<strong>required</strong></p>
      </div> -->
      <div class="example-container">
        <mat-form-field [style.width.px]=350>
          <mat-label>Author</mat-label>
          <input matInput placeholder="Url" formControlName="author">
          <mat-error *ngIf="author?.invalid && author?.touched "></mat-error>
          <mat-error *ngIf="author?.errors?.['required']">Author is required</mat-error>
        </mat-form-field>
      </div>
  
      <!-- <label for="Author">Author</label>
      <input type="text" placeholder="Author Name" formControlName="author" />
    
      <div *ngIf="author?.invalid && author?.touched">
        <p *ngIf="author?.errors?.['required']">Author name is <strong>required</strong></p>
      </div> -->
  
      <div class="example-container">
        <mat-form-field [style.width.px]=350>
          <mat-label>Category</mat-label>
          <input matInput placeholder="Url" formControlName="category">
          <mat-error *ngIf="category?.invalid && category?.touched "></mat-error>
          <mat-error *ngIf="category?.errors?.['required']">Category is required</mat-error>
        </mat-form-field>
      </div>
      <!-- <label for="Category">Category</label>
      <input type="text" placeholder="Category" formControlName="category" />
    
      <div *ngIf="category?.invalid && category?.touched">
        <p *ngIf="category?.errors?.['required']">Category is <strong>required</strong> of the Book</p>
      </div> -->
  
      <!-- <div class="example-container">
        <mat-form-field>
          <mat-label>Publication date</mat-label>
          <input matInput placeholder="Url" formControlName="publication_date">
          <mat-error *ngIf="publication_date?.invalid && publication_date?.touched "></mat-error>
          <mat-error *ngIf="publication_date?.errors?.['required']">Publication date is required</mat-error>
        </mat-form-field>
      </div> -->

      <mat-form-field [style.width.px]=350>
        <mat-label>Choose a date</mat-label>
        <input matInput formControlName="publication_date"  [matDatepicker]="picker">
        <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
        <mat-error *ngIf="publication_date?.invalid && publication_date?.touched "></mat-error>
          <mat-error *ngIf="publication_date?.errors?.['required']">Publication date is required</mat-error>
      </mat-form-field>
      <!-- <label for="Date">Publication Date</label>
  
      <input type="date" placeholder="Publication Date" formControlName="publication_date" />
    
      <div *ngIf="publication_date?.invalid && publication_date?.touched">
        <p *ngIf="publication_date?.errors?.['required']">Publication date is <strong>required</strong>
        </p>
      </div> -->
      <div class="example-container">
        <mat-form-field [style.width.px]=350>
          <mat-label>Summary</mat-label>
          <input matInput placeholder="Url" formControlName="summary">
          <mat-error *ngIf="summary?.invalid && summary?.touched "></mat-error>
          <mat-error *ngIf="summary?.errors?.['required']">Summary is required</mat-error>
        </mat-form-field>
      </div>

      <!-- <label for="Summary">Summary</label>
      <input type="text" placeholder="Summary" formControlName="summary" />
    
      <div *ngIf="summary?.invalid && summary?.touched">
        <p *ngIf="summary?.errors?.['required']">SUmmary is<strong>required</strong></p>
      </div> -->
  

      <mat-form-field [style.width.px]=350>
        <mat-label>Status</mat-label>
        <mat-select formControlName="status">
          <mat-option value="currently_reading">Currently Reading</mat-option>
          <mat-option value="have_read">Have Read</mat-option>
          <mat-option  value="plan_to_read">Planning to read</mat-option>
        </mat-select>
        <mat-error *ngIf="status?.invalid && status?.touched "></mat-error>
          <mat-error *ngIf="status?.errors?.['required']">Status is required</mat-error>
      </mat-form-field>
    
      <!-- <label for="Status">Status</label>
        <select name="cars" id="cars" formControlName="status">
          <option value="currently_reading">Currently Reading</option>
          <option value="have_read">Have Read</option>
          <option value="plan_to_read">Plan to Read</option>
        </select> 
    
      <div *ngIf="status?.invalid && status?.touched">
        <p *ngIf="status?.errors?.['required']">
          Status of reading is <strong>required</strong>
        </p>
      </div> -->

      
    
      <button [style.width.px]=350 
        mat-raised-button
        type="submit"
        [disabled]="addBookForm.invalid"
      >
        Add Movie
      </button>
      </form>
  </div>
    
</div>
  <!-- <div id="image">
    <img src="https://wallpaperaccess.com/full/3133075.jpg">
  </div> -->


 