.book-container {
    width: 600px;
    /* height: 800px; */
    border-radius: 16px;
    overflow: hidden;
    padding: 30px;
    display: flex;
    flex-wrap: wrap;
    margin-left: auto;
  margin-right: auto;

    /* background-color: rgb(16, 13, 13); */
    /* color: white; */
      
    }
    .book-poster {
        height: 800px;
        object-fit: fill;
        width: 100%;

        /*  */
      
        border-radius: 17px;
      }

      h1,h3{
        text-transform: uppercase;
      }
.cont{
  padding: 400px;
}